<! -- 
Name: Austin Folster
Date: 4/16/2021
Course Title: CST 205
Description: This is an html file that takes a list of image information and loops through them
to put the title and picture on the screen
-->
<!doctype html>

    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>The CST 205 Recipe Cook Book</title>
        {% endblock %}
    </head>
    <body>
        {% block content %}
            <div class="container mb-4">  
                <div class="card mt-4">
                    <div class="card-body">
                        <h2 class="card-title">The CST 205 Cooking Emporium!</h2>
                    </div>
                </div>
            <form method="POST" action="/">
                {{ form.csrf_token }}
                {{ form.recipe_keyword.label }} 
                {{ form.recipe_keyword(size=32) }}
                <input type="submit" value="Submit">
            </form>
            <a href= "{{ url_for('submit') }}">
                Click to Add and Edit Recipes!
            </a>
            </div>
        {% endblock %}
    </body>

</html>